{% ckan_extends %}

{% block package_basic_fields_tags %}
  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
  {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}

	{% block semantic_tags %}
	{{ form.input('sem_tag_string', id='field-semantic-tags', label=_('Semantic Tags'), placeholder=_('http://dbpedia.org/resource/Budget, ...'),  error=errors.tags, classes=['control-full']) }}
{% endblock %}

{% endblock %}

