{% extends "page.html" %}

{% block subtitle %}{{ _("Semantic Tags") }}{% endblock %}

{% block breadcrumb_content %}
	{% snippet "semantictags/snippets/breadcrumb.html" %}
{% endblock %}

{% block page_header %}{% endblock %}

{% block primary_content_inner %}

	{% block static_styles %}
		<link rel="stylesheet" type="text/css" href="css/default.css" />
	{% endblock %}

	<h1 class="hide-heading">{{ _('SemanticTags') }}</h1>
	<p><b><em> {{ _('Welcome to the CKAN SemanticTags Plugin.') }}</em></b> <br><br>  	  

	{% block add_semantic_tag %}
		{% snippet 'semantictags/snippets/semantictag_form.html' %}
	{% endblock %}

	{% block load_global_tags %}
<style>
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
</style>
	
		{% link_for _('Load Global Tags'), controller='ckanext.semantictags.controller:SemantictagsController', action='load_global_tags', class_='button' %} 
		Click this option to load global tags defined in the <a target='_blank' href="http://stodap.org/">STODaP server</a>. 
 	{% endblock %}

	{% if h.semantictags_list_semantictags() %}
		{% block semantictags %}
			{% snippet 'semantictags/snippets/list_semantictags.html' %}
		{% endblock %}
	{% endif %}


{% endblock %} <!--primary content -->

{% block secondary_content %}
  {% snippet "semantictags/snippets/menu.html" %}
{% endblock %}

