{% extends "page.html" %}


{% block subtitle %}{{ _("Semantic Tags") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Tags Manager'), controller='package', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}

{% block primary_content %}

	{% block static_styles %}
		<link rel="stylesheet" type="text/css" href="css/default.css" />
	{% endblock %}

	{% block add_semantic_tag %}
	    <h2>{{_('Add Semantic Tags')}}</h2>
	    <form action="/semantictags/add_semantictag" method="POST">
		URI: <input type="text" name="URI" />
		Label: <input type="text" name="label" />
		<input type="submit" />
	    </form>
	{% endblock %}

	{% block loadtags %}	
		{% link_for _('Load Global Tags'), controller='ckanext.semantictags.controller:SemantictagsController', action='load_global_tags', class_='read-more' %}
 	{% endblock %}

	{% block semantictags %}
	    <h2>{{_('Semantic Tags')}}</h2>
		{% set st = h.semantictags_list_semantictags() %}
	    {% for tag in st %}
         <li> {{ tag.label }} {%link_for _('(x)'), controller='ckanext.semantictags.controller:SemantictagsController', action='remove_semantictag', class_='read-more', id=tag.id %}  </li>
        {% endfor %}

		{% link_for _('Clear all Semantic Tags'), controller='ckanext.semantictags.controller:SemantictagsController', action='remove_all_semantictag', class_='read-more' %}

	{% endblock %}

{% endblock %} <!--primary content -->

{% block secondary_content %}
  {% snippet "semantictags/snippets/menu.html" %}
{% endblock %}

